<a class="flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-lg focus:outline-none focus:shadow-lg transition dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70 h-full" [routerLink]="link">
    <img class="w-full h-auto rounded-t-xl object-contain" src="{{imageUrl}}" alt="Card Image">
    <div class="flex flex-col p-4 md:p-5 flex-1">
      <h3 class="text-3xl font-bold text-gray-800 dark:text-white text-center">
        {{ title | titlecase }}
      </h3>
      <p class="mt-1 text-gray-500 dark:text-neutral-400 md:line-clamp-2" [innerHTML]="description">
        
      </p>
    </div>
  </a>
  