<section class="bg-gray-100 dark:bg-gray-800 lg:py-8 lg:flex lg:justify-center">
    <div class="overflow-hidden bg-white dark:bg-gray-900 lg:mx-8 lg:flex lg:max-w-6xl lg:w-full lg:shadow-md lg:rounded-xl">
        <div class="lg:w-1/2">
            <div class="h-64 bg-cover lg:h-full" [style.background-image]="'url(' + imageUrl + ')'"></div>
        </div>

        <div class="max-w-xl px-6 py-12 lg:max-w-5xl lg:w-1/2">
            <h2 class="font-bold text-5xl text-[#007faa] dark:text-white md:text-4xl">
                {{ title | titlecase }}
            </h2>

            <p class="mt-4 text-gray-500 dark:text-gray-300">
                {{ description }}
            </p>

            <div class="inline-flex w-full mt-6 sm:w-auto">
                <a [routerLink]="buttonLink" fragment="{{fragment}}" class="inline-flex items-center justify-center w-full px-6 py-2 text-md text-black duration-300 bg-yellow-300 rounded-lg hover:opacity-80 focus:ring focus:ring-gray-300 focus:ring-opacity-80">
                    {{ buttonText }}
                </a>
            </div>
        </div>
    </div>
</section>
