<app-product-details 
    name="O-Rings"
    description="
        <p class='mb-3'> We maufacturer o rings per many industry standards with the most common being AS568. We have existing family tooling for many common sizes.
            We make o rings from many materials including VMQ (Silicone), FVMQ (Fluorosilicone), FKM (Viton), NBR, HNBR, EPDM, and many more.
        </p>

        <p class='mb-1'>We have a visual inspection system that is able to inspect every part from 7 different angles, including from below through a high quality glass table. 
            We inspect flash, cross section, diameters, as well as look for visual issues like non fills, inclusion of foreign materials, uncured spots and more in 100% of the parts we make up to 80mm in diameter. 
            This system automatically sorts out the parts out of spec and ensures that 100% of the parts we ship to our customers meet the requirements. 
        </p>
        <a href='/quality#doss' fragment='doss' class='bg-yellow-300 text-gray-900 hover:bg-[#37bef0] py-2 px-6 rounded-full  text-lg font-semibold transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg inline-block text-center'>
            Learn more
        </a>

        <p class='my-3'>
            We have hundreds of existing compounds with testing data so in most cases we can reference our test bank to choose a compound that meets the customer's requirements without additional testing. 
            We compound all of these rubbers in house, and stock raw material for quick turn arounds. 
        </p>
    "
    [images]="['/assets/products/rubber-molding/o-rings/O-Rings1.jpg', 
                '/assets/products/rubber-molding/o-rings/O-Rings2.jpg', 
                ]"
/>
