<app-card-input
    title="Our Top-tier Engineers"
    description="Rotomold Mexico boasts a talented team of 20 engineers specializing in new product development, industrial engineering, and quality control. With 12 dedicated engineers focused on new product development, we adeptly manage a diverse range of complex projects. Our state-of-the-art ISO 5011 filtration lab, advanced rapid prototyping equipment, and comprehensive rubber testing facilities enable us to deliver innovative products swiftly and efficiently. Leveraging these resources, we are committed to pushing the boundaries of quality and innovation in every project."
    imageUrl="assets/engineers/engineers-main.png"
    buttonText="Get Started"
    buttonLink="/services#servicesText">
</app-card-input>

<section>
    
    <div class="mx-auto px-4 my-3">
        <hr class="my-6 border-gray-200 dark:border-gray-700">
        <h2 class="text-4xl bg-[#007faa] p-4 m-6 rounded-3xl text-white text-center hover:opacity-75">GALLERY  </h2>
            <div class="container px-6 py-10 mx-auto">
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-8 mt-2">
                    <div class="flex justify-center text-6xl border-1  rounded-md p-1 bg-[#007faa] hover:opacity-90"><img loading="lazy" class="w-full rounded-md bg-red-500" src="/assets/engineers/engineers-gallery1.png" /></div>
                    <div class="flex justify-center text-6xl border-1  rounded-md p-1 bg-[#007faa] hover:opacity-90"><img loading="lazy" class="w-full rounded-md" src="/assets/engineers/engineers-gallery2.png" /></div>
                </div>
                <div class="flex justify-center text-6xl border-1  rounded-md p-1 bg-[#007faa] hover:opacity-90 mt-2">
                    <video class="w-full" autoplay controls loop [muted]="'muted'" loading="lazy" >
                        <source  src="/assets/engineers/engineering.mp4" type="video/mp4">
                    </video>
                </div>

            </div>
    </div>
</section>