<section class="bg-white dark:bg-gray-900">
    <div class="container px-6 py-10 mx-auto">
        <div class="lg:flex lg:items-center">
            <div class="w-full space-y-12 lg:w-1/2 ">
                <div>
                    <h1 class="font-bold">Mold Making</h1>
                    <h2 class="text-md  text-[#4f7583] lg:text-md dark:text-white">
                        Mold making is a crucial step in manufacturing that shapes the quality and precision of the final product. 
                        Our advanced techniques and state-of-the-art equipment enable us to create intricate molds tailored to various applications. 
                        With a strong focus on detail and efficiency, we ensure that each mold meets the highest standards. 
                        Discover how our expertise in mold making can enhance your production process and deliver exceptional results..</h2>

                    <div class="mt-2">
                        <span class="inline-block w-40 h-1 bg-blue-500 rounded-full"></span>
                        <span class="inline-block w-3 h-1 ml-1 bg-blue-500 rounded-full"></span>
                        <span class="inline-block w-1 h-1 ml-1 bg-blue-500 rounded-full"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <!-- inspired by tailwindcss.com -->
    <ul class="grid grid-cols-1 xl:grid-cols-3 gap-y-10 gap-x-6 items-start p-8">
        <li class="relative flex flex-col sm:flex-row xl:flex-col items-start">
            <div class="order-1 sm:ml-6 xl:ml-0">
                <h3 class="mb-1 text-slate-900 font-semibold">
                    <span class="mb-1 block text-sm leading-6 text-indigo-500">CNC</span>CNC Billet Aluminum molds
                </h3>
                <div class="prose prose-slate prose-sm text-slate-600">
                    <p>We have a large machine shop with over 30 machines and a team of welders to make and/or maintain your billet aluminum molds. 
                        Billet molds are the highest quality molds for parts that require complex geometry. Typical lead times are 4-6 weeks.</p>
                </div>
            </div>
            <img src="/assets/services/cnc-billet-aluminum-molds.png" alt="" class="mb-6 shadow-md rounded-lg bg-slate-50 w-full sm:w-[17rem] sm:mb-0 xl:mb-6 xl:w-full" width="1216" height="640">
        </li>
        <li class="relative flex flex-col sm:flex-row xl:flex-col items-start">
            <div class="order-1 sm:ml-6 xl:ml-0">
                <h3 class="mb-1 text-slate-900 font-semibold">
                    <span class="mb-1 block text-sm leading-6 text-purple-500">Aluminum </span>Casted Aluminum Molds
                </h3>
                <div class="prose prose-slate prose-sm text-slate-600">
                    <p>Casted molds are the most used at our facility. 
                        Molds are casted, the inside machined down then either textured or polished to ensure a perfect finish on the inside. 
                        These molds are relatively cost effective when compared to bullet molds. Typical lead times are 6-8 weeks.</p>
                </div>
            </div>
            <img src="/assets/services/casted-aluminium-molds.png" alt="" class="mb-6 shadow-md rounded-lg bg-slate-50 w-full sm:w-[17rem] sm:mb-0 xl:mb-6 xl:w-full" width="1216" height="640">
        </li>
        <li class="relative flex flex-col sm:flex-row xl:flex-col items-start">
            <div class="order-1 sm:ml-6 xl:ml-0">
                <h3 class="mb-1 text-slate-900 font-semibold">
                    <span class="mb-1 block text-sm leading-6 text-cyan-500">Sheet Metal</span>Fabricated Sheet Metal Molds
                </h3>
                <div class="prose prose-slate prose-sm text-slate-600">
                    <p>Sheet metal molds are the most cost effective way to build a mold for large parts that don’t require complex geometry. 
                        Metal is bent and welded in house to ensure high quality. Typical lead times are 2-4 weeks.</p>
                </div>
            </div>
            <img src="/assets/services/fabricated-sheet-metal-molds.png" alt="" class="mb-6 shadow-md rounded-lg bg-slate-50 w-full sm:w-[17rem] sm:mb-0 xl:mb-6 xl:w-full" width="1216" height="640">
        </li>
    </ul>
</section>