.announcement-bar {
    background: linear-gradient(
      152deg,
      rgb(208, 211, 50) 25%,
      rgb(67, 87, 20) 51%,
      rgb(195, 226, 57) 80%
    );
    background-size: 200% 200%;
    animation: looper 5s linear infinite;
  }
  
  @keyframes looper {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 200% 50%;
    }
  }
  