<section>
    <div class="w-full mx-auto lg:max-w-7xl mt-2 p-6">
        <div>
            <h1 class="font-bold text-4xl text-[#007faa] mb-4">
                Compression Molding
            </h1>
            <p class="text-md  text-[#4f7583] lg:text-md dark:text-white">
                Compression Molding Is An Ideal Manufacturing Process For Producing a wide variety of rubber parts from small o rings to large rubber floor mats. 
                This Method Involves Placing A Pre-measured Amount Of Material, Typically In The Form Of A Rubber Compound Into A Heated Mold Cavity. 
                The Mold Is Then Closed, And Pressure Is Applied To Shape The Material Into The Desired Form. 
                The Heat Causes The Material To Cure Or Harden, Solidifying The Part Into Its Final Shape.
            </p>
            <div class="mt-2">
                <span class="inline-block w-40 h-1 bg-blue-500 rounded-full"></span>
                <span class="inline-block w-3 h-1 ml-1 bg-blue-500 rounded-full"></span>
                <span class="inline-block w-1 h-1 ml-1 bg-blue-500 rounded-full"></span>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="w-full mt-1 mb-20 max-w-7xl mx-auto rounded-lg p-4 md:p-1">

        <!-- Tab Content -->
            <div class="p-4 tab-content bg-white shadow-md ">
                <div class="mb-4">
                    <ul class="list-disc list-inside"> 
                        <li>
                        We have traditional compression molding machines as well as vacuum 3RT compression molding machines. 
                        We have small multilevel presses for laboratory runs, prototypes, and low volume production. 
                        We have the top of the line vacuum 3RT presses for our medium to high volume production for parts up to 28" x 28" (700mm x 700m). 
                        These machines use vacuum to help eliminate trapped air, and the 3RT system with a shuttle helps automate the process. 
                        Complex parts can be molded using these machines using 4+ plates without needing the operators to handle the molds. 
                        We also have larger presses that we use for large seals, windows trim seals, floor mats and other large molded parts. 
                        Our largest press is 102" x 72" in size and 800T. 
                        Our equipment has large daylight so we are also able to use multilevel molds to further maximize output for larger parts.
                        </li>
                        <li>
                          We compound nearly all of our rubber in house and have automated preforming techniques to streamline the process, minimize scrap, minimize flash and maximize the precision of our compression molded parts. 
                          We have automated barwell style preformer extruders that can produce accurate weight and shape preforms up to 100+ per minute. 
                        </li>
                      </ul>
                </div>
                <div class="w-2/3 mx-auto">
                    <app-swiperino-slider [images]="[
                    '/assets/services/rubber-molding/molding-processes/compression-molding/compression-molding-gallery2.jpg',
                    '/assets/services/rubber-molding/molding-processes/compression-molding/compression-molding-gallery1.jpg',
                    '/assets/services/rubber-molding/molding-processes/compression-molding/compression-molding-gallery4.jpg',
                    '/assets/services/rubber-molding/molding-processes/compression-molding/compression-molding-gallery3.png', 
                    '/assets/services/rubber-molding/molding-processes/compression-molding/compression-molding-gallery5.jpg',
                    '/assets/services/rubber-molding/molding-processes/compression-molding/compression-molding-gallery6.jpg'                         ]"
                    />
                </div>
                
            </div>
  </div>
</section>