<div class="w-full relative">
  <h2 class="text-4xl bg-yellow-600 p-3 m-2 md:p-6 md:m-6 rounded-3xl text-white text-center shadow-lg transition-opacity duration-300 hover:opacity-90">
    Product Showcase
  </h2>
  <h2 class="text-xl text-center font-bold text-gray-900 leading-tight pb-4 relative mb-6">
    <span class="bg-clip-text text-yellow-700">Explore a selection of our work! We’d love to hear how we can bring your vision to life.</span>
    <span class="absolute bottom-0 left-1/2 transform -translate-x-1/2 w-1/2 h-1 bg-gradient-to-r from-yellow-600 to-yellow-900"></span>
  </h2>
</div>


  <swiper-container class="swiper-container mb-6" 
    autoplay="true"
    navigation="true"
    
    speed="500" 
    pagination="true" 
    [loop]="slido.src.length > slidesPerView"
    effect="coverflow"
    grab-cursor="true"
    centered-slide="true"
    [breakpoints]="breakpoints"
    
  >
    @for (slide of slido.src; track $index) {
      <swiper-slide class="mb-6" >
        <img loading="lazy" src="assets/services/moldMaking.webp" alt="" width="600" height="400">
      </swiper-slide>
    }
    
  </swiper-container>