<section>
    <div class="w-full mx-auto lg:max-w-7xl mt-2 p-6">
        <div>
            <h1 class="font-bold text-4xl text-[#007faa] mb-4">
                Transfer Molding
            </h1>
            <p class="text-md  text-[#4f7583] lg:text-md dark:text-white">
                Transfer molding is a versatile manufacturing process that combines elements of both injection molding and compression molding to produce high-quality, detailed, and high-strength components. 
                This method is particularly valued for its ability to create parts with excellent surface finishes and precise geometries, making it well-suited for industries where precision and durability are critical, such as in the production of electrical components, seals, and specialized industrial parts.
            </p>
            <div class="mt-2">
                <span class="inline-block w-40 h-1 bg-blue-500 rounded-full"></span>
                <span class="inline-block w-3 h-1 ml-1 bg-blue-500 rounded-full"></span>
                <span class="inline-block w-1 h-1 ml-1 bg-blue-500 rounded-full"></span>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="w-full mb-20 max-w-7xl mx-auto rounded-lg p-4 md:p-1">
        <!-- Tab Content -->
        <div class="p-4 tab-content bg-white shadow-md ">
            <h2 class="text-2xl font-semibold mb-2 text-blue-700">
                Transfer molding
            </h2>
            <div>
                <ul class="list-disc list-inside"> 
                    <li>
                    Transfer molding is a process that makes the most sense for many medium to high running parts that are small in size or that need added precision that compression molding cannot offer. 
                    Transfer molding works by having additional plates above the typical plates with the cavities seen in compression molding. 
                    The plates with the cavities are first closed, and then a plunger plate closes injecting the rubber in the pot into the cavity. 
                    Since the plates with the cavities are closed prior to introducing the material tighter tolerances, less or even sometimes virtually no flash can be left in the parting lines. 
                    Transfer molding also works great for molds with many cavities where it would be difficult to use preforms that do not produce a lot of waste in compression molding. 
                    Runners are used similar to what is seen in injection molding to fill up the various cavities with material.
                    </li>
                    <li>
                      For high volume parts where minimizing the unit price is of upmost importance we use specially designed molds to keep the raw material "pot" cold in a process cold cold pot transfer molding. 
                      With traditional transfer molding all of the rubber placed in a mold in a cycle is cured between the part, runners, flash and the excess material left in the pot. 
                      With cold pot transfer molding the amount of scrap is greatly reduced. The only scrap is the minor amount of material left in the runners and sometimes flash. 
                      This allows us to decrease our material consumption and provide the most competitive pricing for high volume parts.
                    </li>
                    <li>
                      We manufacturer our rubber molds internally with our 37 precise CNC machines. 
                      We have the experience and know how to make essential flash free parts in many applications. 
                      A lot of knowhow, precision, and techniques go into making these molds that result in parts that do not require additional deflashing after the molding process. 
                      For parts that use our flashless mold technology it allows us to save cost that we can pass on to our customers in the deflashing process. 
                      Cryogenic deflashing is a very expensive process, and other more manual techniques are hard to scale and labor intensive.
                    </li>
                </ul>
            </div>
        </div>
  </div>
</section>