<app-card-input
    title="Our services"
    description="At Rubber-Mexico, we specialize in a wide range of high-quality rubber manufacturing services to meet your specific requirements. Using advanced techniques, we provide precision rubber molding, mandrel-formed hoses, rubber extrusion, calendering, and compounding. Our expert team ensures that each product is crafted to the highest standards of durability, flexibility, and performance, making them ideal for diverse applications across industries."
    imageUrl="assets/services-defaultopt.png"
    buttonText="Get Started"
    buttonLink="/services"
    fragment="servicesText"
    >
</app-card-input>

<!-- our services section -->
<section class="py-4" id="services">
    <div class="container mx-auto px-4">
        <h2 class="text-4xl font-bold text-gray-800 mb-8 text-center" id="servicesText">Core Services</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">

            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <a routerLink="/services/rubber-molding">
                    <img src="assets/services/rubberMoldingv2.png" alt="Rubber Molding Service"
                        class="w-full h-64 object-cover">
                    <div class="p-6 text-center">
                        <h3 class="text-2xl font-medium text-[#1a9bc9] mb-2">Rubber Molding</h3>
                        <p class="text-gray-700 text-base md:line-clamp-4 line-clamp-3">Rubber Molding is an essential phase in manufacturing that enhances the functionality and appearance of products. 
                            Our advanced techniques and skilled team ensure that every item receives the attention it needs to meet rigorous quality standards. 
                            With a focus on precision and efficiency, we deliver tailored solutions that elevate your final products. 
                            Explore how our Rubber Molding capabilities can add value and enhance your production outcomes.
                        </p>

                    </div>
                </a>
            </div>
            
            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <a routerLink="/services/mandrel-formed-hoses">
                    <img src="assets/services/siliconeHoseWrapping.png" alt="Mandrel Formed Hoses"
                        class="w-full h-64 object-cover">
                    <div class="p-6 text-center">
                        <h3 class="text-2xl font-medium text-[#1a9bc9] mb-2">Mandrel Formed Hoses</h3>
                        <p class="text-gray-700 text-base md:line-clamp-4 line-clamp-3">
                            We produce a wide variety of silicone, fluorosilicone & FKM products including straight couplers, hump hoses, reducers, elbows, t hoses, CAC couplers, and coolant hoses. 
                            We offer nomex/aramid, polyester and fiberglass reinforcement options depending on your requirements
                        </p>
                    </div>
                </a>
            </div>
            
            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <a routerLink="/services/rubber-extrusion">
                <img src="assets/services/rubberExtrusion.png" alt="Rubber Extrusion Service"
                    class="w-full h-64 object-cover">
                <div class="p-6 text-center">
                    <h3 class="text-2xl font-medium text-[#1a9bc9] mb-2">Rubber Extrusion</h3>
                    <p class="text-gray-700 text-base md:line-clamp-4 line-clamp-3">Rubber extrusion is a manufacturing process in which raw rubber material is forced through a mold (or die) to create continuous shapes with a specific profile. 
                        This technique is commonly used to produce rubber seals, gaskets, hoses, tubing, and custom profiles for various industries, including automotive, construction, and medical devices. 
                        The extrusion process ensures high precision and consistency, allowing for the creation of complex cross-sectional shapes in various sizes and lengths.</p>
                </div>
                </a>
            </div>
            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <a routerLink="/services/compounding">
                    <img src="assets/services/compounding.png" alt="Compounding Service"
                        class="w-full h-64 object-cover">
                    <div class="p-6 text-center">
                        <h3 class="text-2xl font-medium text-[#1a9bc9] mb-2">Compounding</h3>
                        <p class="text-gray-700 text-base md:line-clamp-4 line-clamp-3">Rubber Compounding is the process of mixing raw rubber with various additives to create a custom material with specific properties like strength, flexibility, or heat resistance. 
                            By carefully selecting and combining elastomers, curing agents, and fillers, we produce high-performance compounds tailored to meet the unique needs of your application.
                        </p>
                    </div>
                </a>
            </div>

            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <a routerLink="/services/calendering">
                    <img src="assets/services/rubber-calendering.png" alt="Calendering Service"
                        class="w-full h-64 object-cover">
                    <div class="p-6 text-center">
                        <h3 class="text-2xl font-medium text-[#1a9bc9] mb-2">Calendering</h3>
                        <p class="text-gray-700 text-base md:line-clamp-4 line-clamp-3">Rubber Calendering is the process of mixing raw rubber with various additives to create a custom material with specific properties like strength, flexibility, or heat resistance. 
                            By carefully selecting and combining elastomers, curing agents, and fillers, we produce high-performance compounds tailored to meet the unique needs of your application.
                        </p>
                    </div>
                </a>
            </div>

            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <a routerLink="/services/shipping">
                    <img src="assets/services/shippingStocking.png" alt="Shipping & Stocking Service"
                        class="w-full h-64 object-cover">
                    <div class="p-6 text-center">
                        <h3 class="text-2xl font-medium text-[#1a9bc9] mb-2">Shipping & Stocking</h3>
                        <p class="text-gray-700 text-base md:line-clamp-4 line-clamp-3">Shipping and stocking are critical aspects of ensuring seamless operations and timely delivery in manufacturing. 
                            Our streamlined processes and efficient logistics management guarantee that your products are handled with care and delivered on schedule. 
                            With a focus on inventory accuracy and timely dispatch, we ensure your projects remain on track. 
                            Explore how our shipping and stocking solutions can enhance your supply chain and support your business needs.
                        </p>
                    </div>
                </a>
            </div>

            
        </div>
    </div>
</section>

<app-rubber-ad />

