<app-card-input
    title="Our services"
    description="At Rotomold Mexico, we offer high-quality rotomolding services tailored to your needs. Our advanced technology allows us to create durable, lightweight, and custom-designed products for a variety of applications, including tanks, containers, and specialty items. "
    imageUrl="https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
    buttonText="Get Started"
    buttonLink="/services"
    fragment="servicesText"
    >
</app-card-input>
<app-rubber-ad />
<!-- our services section -->
<section class="py-6" id="services">
    <div class="container mx-auto px-4">
        <h2 class="text-4xl font-bold text-gray-800 mb-8 text-center" id="servicesText">Core Services</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            
            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <a routerLink="/services/rotational-molding">
                    <img src="/assets/services/rotationalMolding.png" alt="Rotational Molding"
                        class="w-full h-64 object-cover">
                    <div class="p-6 text-center">
                        <h3 class="text-2xl font-medium text-[#1a9bc9] mb-2">Rotational Molding</h3>
                        <p class="text-gray-700 text-base md:line-clamp-4 line-clamp-3">Rotational molding is a versatile process that produces durable products for diverse applications. Our advanced machinery operates around the clock, ensuring efficient production and strict quality standards. Committed to excellence, we create superior parts tailored to your needs. Explore our capabilities and quality assurance measures that set us apart in the industry.
                        </p>
                    </div>
                </a>
            </div>
            
            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <a routerLink="/services/mold-making">
                <img src="/assets/services/moldMaking.png" alt="Coffee"
                    class="w-full h-64 object-cover">
                <div class="p-6 text-center">
                    <h3 class="text-2xl font-medium text-[#1a9bc9] mb-2">Mold Making</h3>
                    <p class="text-gray-700 text-base md:line-clamp-4 line-clamp-3">Mold making is a crucial step in manufacturing that shapes the quality and precision of the final product. 
                        Our advanced techniques and state-of-the-art equipment enable us to create intricate molds tailored to various applications. 
                        With a strong focus on detail and efficiency, we ensure that each mold meets the highest standards. 
                        Discover how our expertise in mold making can enhance your production process and deliver exceptional results.</p>
                </div>
                </a>
            </div>
            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <a routerLink="/services/post-processing">
                    <img src="/assets/services/postProcessing.png" alt=""
                        class="w-full h-64 object-cover">
                    <div class="p-6 text-center">
                        <h3 class="text-2xl font-medium text-[#1a9bc9] mb-2">Post Processing</h3>
                        <p class="text-gray-700 text-base md:line-clamp-4 line-clamp-3">Post processing is an essential phase in manufacturing that enhances the functionality and appearance of products. 
                            Our advanced techniques and skilled team ensure that every item receives the attention it needs to meet rigorous quality standards. 
                            With a focus on precision and efficiency, we deliver tailored solutions that elevate your final products. 
                            Explore how our post processing capabilities can add value and enhance your production outcomes.
                        </p>

                    </div>
                </a>
            </div>
            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <a routerLink="/services/foam-insulation">
                    <img src="/assets/services/foamInsulation.png" alt="Coffee"
                        class="w-full h-64 object-cover">
                    <div class="p-6 text-center">
                        <h3 class="text-2xl font-medium text-[#1a9bc9] mb-2">Foam Insulation</h3>
                        <p class="text-gray-700 text-base md:line-clamp-4 line-clamp-3">Foam insulation is a vital component in enhancing energy efficiency and product performance across various applications. 
                            Our advanced techniques and expert team ensure that each insulation solution is tailored to meet specific requirements. With a commitment to quality and durability, we provide reliable foam insulation that optimizes functionality.
                            Discover how our foam insulation capabilities can improve your products and drive efficiency in your projects.
                        <details>
                            <summary>Read More</summary>
                            <p> We offer a variety of chili powder products, including mild, medium, and hot. We also offer
                                custom blends to meet the specific needs of our customers.</p>
                        </details>
                        </p>
                    </div>
                </a>
            </div>
            <!-- special card -->
            <div class="bg-white rounded-lg bg-gradient-to-tr from-pink-300 to-blue-300 p-0.5 shadow-lg overflow-hidden min-h-full">
                <a routerLink="/services/other-services">
                    <img src="/assets/services/otherServices.png" alt="Coffee"
                        class="w-full h-64 object-cover rounded-t-lg">
                    <div class="p-6 bg-white text-center rounded-b-lg md:min-h-full">
                        <h3 class="text-2xl font-medium text-[#1a9bc9] mb-2">Other </h3>
                        <p class="text-gray-700 text-base md:line-clamp-4 line-clamp-3">Our <span class="font-medium underline">Other</span> manufacturing processes encompass a range of advanced techniques, including calendering, rapid prototyping, compression molding, and extrusion. 
                            Each method is designed to meet specific project needs, offering flexibility and innovation in product development. With a focus on precision and efficiency, our expert team delivers high-quality solutions tailored to your requirements. 
                            Explore how these diverse capabilities can enhance your production and drive your projects forward.
                        </p>
                    </div>
                </a>
            </div>

            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <a routerLink="/services/shipping">
                <img src="/assets/services/shippingStocking.png" alt="Shipping & Stocking"
                    class="w-full h-64 object-cover">
                <div class="p-6 text-center">
                    <h3 class="text-2xl font-medium text-[#1a9bc9] mb-2">Shipping & Stocking</h3>
                    <p class="text-gray-700 text-base md:line-clamp-4 line-clamp-3">Shipping and stocking are critical aspects of ensuring seamless operations and timely delivery in manufacturing. 
                        Our streamlined processes and efficient logistics management guarantee that your products are handled with care and delivered on schedule. 
                        With a focus on inventory accuracy and timely dispatch, we ensure your projects remain on track. 
                        Explore how our shipping and stocking solutions can enhance your supply chain and support your business needs.
                    <details>
                        <summary>Read More</summary>
                        <p> We offer a variety of rice papad flavors, including plain, salted, spicy, and flavored. We
                            also
                            offer a variety of sizes and shapes to choose from. Our papad is available in bulk or in
                            individual packages.</p>
                    </details>
                    </p>
                </div>
                </a>
            </div>

        </div>
    </div>
</section>

