<section class="announcement-bar">
  <div class="announcement-container text-white grid grid-cols-3">
    
    <div class="announcement-item ">
      <a href="emailto:sales@rotomoldmexico.com">
        <div class="text-center"><b>Email Us Today!</b>
          <p class=" italic"><a href="emailto:sales@rotomoldmexico.com">sales&#64;rotomoldmexico.com</a></p>
        </div>
      </a>
    </div>
    <div class="announcement-item active ">
      <a routerLink="/contact">
        <div class="text-center"><b>Request A Quote Now</b>
          <p class="italic">Clicking here</p>
        </div>
      </a>
    </div>
    <div class="announcement-item ">
      <a href="tel:+19362352011">
        <div class="text-center"><b>Call Us Today!</b>
          <p class="italic">tel:<a href="tel:+19362352011">+1.936.235.2011</a></p>
        </div>
      </a>
    </div>
  </div>
</section>
<div class="relative bg-gradient-to-r from-purple-600 to-blue-600 h-[60vh] text-white overflow-hidden">
    <div class="absolute inset-0">
      <img src="/assets/test_banner.png" alt="Background Image" class="object-cover object-center w-full h-full" />
      <div class="absolute inset-0 bg-black opacity-50"></div>

      <div class="absolute inset-0">
        <img class="md:w-60 w-40 mx-auto md:mx-0 md:mt-4 mt-1 " src="/assets/iso9001.png" alt="">
      </div>
    </div>
    
    <div class="relative z-10 flex flex-col justify-center items-center h-full text-center  mx-8">
      <h1  class="text-3xl md:text-6xl font-bold leading-tight mb-4 px-4">Welcome to <span class="text-[#3dabd3] hover:opacity-95">RotomoldMexico</span></h1>
      <p class="text-lg text-gray-200 mb-8">Discover amazing features and services that await you.</p>
      <a routerLink="/services" class="bg-[#37bef0] text-gray-900 hover:bg-yellow-300 py-2 px-6 rounded-full text-lg font-semibold transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg">Get Started</a>
    </div>
  </div>
 
  <div class="flex items-center justify-center w-full p-4">
    <hlm-carousel class="w-full max-w-xs">
      <hlm-carousel-content>
      @for ( item of [].constructor(10); track $index) {
        <hlm-carousel-item>
          <div class="p-1">
            <section hlmCard>
              <p hlmCardContent class="flex items-center justify-center p-6 aspect-square">
                
                <img class="md:w-60 w-40 mx-auto md:mx-0 md:mt-4 mt-1 " src="/assets/iso9001.png" alt="">
              </p>
            </section>
          </div>
        </hlm-carousel-item>
      }
      </hlm-carousel-content>
      <button hlm-carousel-previous></button>
      <button hlm-carousel-next></button>
    </hlm-carousel>
  </div>

  

<section class="px-4 py-5 bg-neutral-100 lg:py-10">
    <div class="grid lg:grid-cols-2 items-center justify-items-center gap-5">
        <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
            <p class="text-4xl font-bold md:text-5xl md:mb-6">Proudly Serving America for 50 Years: Your Trusted Partner in Distribution</p>
            <p class="mt-2 text-sm md:text-lg mb-4">With half a century of experience, we’ve established a strong identity rooted in the USA. Our strategically located distribution centers in California, Arizona, and Kentucky enable us to efficiently serve customers across the nation. 
              Whether you're in the bustling streets of Los Angeles or the heart of New York City, we ensure timely deliveries right to your doorstep. With our drop shipping options, you can focus on growing your business while we handle the logistics, delivering your products seamlessly to every corner of the United States</p>
            <a routerLink="/about" class="bg-[#37bef0] text-gray-900 hover:bg-yellow-300 py-2 px-6 rounded-full text-lg font-semibold transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg">About Us</a>

        </div>
        <div class="order-1 lg:order-2">
            <img class="" src="/assets/Banner-Mapa-Oliver_800x500px-v3.png" alt="">
        </div>
    </div>
    
</section>
  

<section id="new-features" class="py-8 bg-white sm:py-6 lg:py-6">
  <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="text-center">
      <h2 class="text-3xl font-bold leading-tight text-gray-900 sm:text-4xl xl:text-5xl">
        Boost Your Productivity with Rotomolding</h2>
      <p class="mt-4 text-base leading-7 text-gray-600 sm:mt-8">
        Enhance your workflow with advanced features
      </p>
    </div>
    <div
      class="grid grid-cols-1 mt-2 text-center sm:mt-16 sm:grid-cols-2 sm:gap-x-12 gap-y-12 md:grid-cols-3 md:gap-0 xl:mt-24">
      <!-- Feature 1 -->
      <div class="md:p-2 lg:p-2 flex flex-col justify-center items-center">
        <div class="w-14 h-14 rounded-full bg-purple-200 flex justify-center items-center">
          <i class="fa-solid fa-chart-column text-3xl text-gray-900"></i>
        </div>
        <h3 class="mt-12 text-xl font-bold text-gray-900">Space & Analysis</h3>
        <p class="mt-5 text-base text-gray-600">We have over {{vars.ourSize}} of manufacturing space in Baja California, Mexico with many capabilities. We have  {{vars.rotomoldingMachines}} that vary from 1.9 meter oven diamaters to 4.5 meteres.</p>
      </div>

      <!-- Feature 2 -->
      <div class="md:p-2 lg:p-2 md:border-l md:border-gray-200 flex flex-col justify-center items-center">
        <div class="w-14 h-14 rounded-full bg-teal-200 flex justify-center items-center">
          <i class="fa-solid fa-truck-fast text-3xl text-gray-900"></i>
        </div>
        <h3 class="mt-12 text-xl font-bold text-gray-900">Fast Integration</h3>
        <p class="mt-5 text-base text-gray-600">We have trucks crossing into the USA every single day with warehouses on the {{vars.warehouses}}! We can ship product worldwide.</p>
      </div>

      <!-- Feature 3 -->
      <div class="md:p-2 lg:p-2 md:border-l md:border-gray-200 flex flex-col justify-center items-center">
        <div class="w-14 h-14 rounded-full bg-yellow-200 flex justify-center items-center">
          <i class="fa-solid fa-shield text-3xl text-gray-900"></i>
        </div>
        <h3 class="mt-12 text-xl font-bold text-gray-900">Security & Commitment</h3>
        <p class="mt-5 text-base text-gray-600">🎉 We are proud to announce that we are ISO 9001 certified! 🎉 This certification reflects our commitment to quality management and continuous improvement. It ensures that we consistently deliver products and services that meet the highest <b>standards</b>.</p>
      </div>
    </div>
  </div>
</section>

<app-partners-trust />

<div class='mx-auto'>
  <!--Gallery 1-->
 <!--Responsive grid-->
  <div class="mx-auto px-4 my-3">
      <h2 class="text-4xl bg-[#007faa] p-4 m-6 rounded-3xl text-white text-center hover:opacity-75">GALLERY  </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-2 mt-2">
        <div class="flex justify-center text-6xl border-1  rounded-md p-1 bg-[#007faa] hover:opacity-90"><img class="w-full rounded-md bg-red-500" src="/assets/gallery-test1.png" /></div>
        <div class="flex justify-center text-6xl border-1  rounded-md p-1 bg-[#007faa] hover:opacity-90"><img class="w-full rounded-md" src="/assets/gallery-test2.png" /></div>
        <div class="flex justify-center text-6xl border-1  rounded-md p-1 bg-[#007faa] hover:opacity-90"><img class="w-full rounded-md" src="/assets/gallery-test3.png" /></div>
        <div class="flex justify-center text-6xl border-1  rounded-md p-1 bg-[#007faa] hover:opacity-90"><img class="w-full rounded-md" src="/assets/gallery-test4.png" /></div>
      </div>
    </div>
 <!--/Gallery 1-->
 </div>
  