<div class="relative bg-gradient-to-r from-purple-600 to-blue-600 h-[60vh] text-white overflow-hidden">
    <div class="absolute inset-0">
      <img src="/assets/test_banner.png" alt="Background Image" class="object-cover object-center w-full h-full" />
      <div class="absolute inset-0 bg-black opacity-50"></div>

      <div class="absolute inset-0">
        <img class="md:w-60 w-40 mx-auto md:mx-0 md:mt-4 mt-1 " src="/assets/iso9001.png" alt="">
      </div>
    </div>
    
    <div class="relative z-10 flex flex-col justify-center items-center h-full text-center  mx-8">
      <h1 class="text-3xl md:text-6xl font-bold leading-tight mb-4 px-4">Welcome to <span class="text-[#3dabd3]">RotomoldMexico</span></h1>
      <p class="text-lg text-gray-200 mb-8">Discover amazing features and services that await you.</p>
      <a routerLink="/services" class="bg-[#37bef0] text-gray-900 hover:bg-yellow-300 py-2 px-6 rounded-full text-lg font-semibold transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg">Get Started</a>
    </div>
  </div>


<section class="px-4 py-5 bg-neutral-100 lg:py-10">
    <div class="grid lg:grid-cols-2 items-center justify-items-center gap-5">
        <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
            <p class="text-4xl font-bold md:text-5xl md:mb-6">Proudly Serving America for 50 Years: Your Trusted Partner in Distribution</p>
            <p class="mt-2 text-sm md:text-lg">With half a century of experience, we’ve established a strong identity rooted in the USA. Our strategically located distribution centers in California, Arizona, and Kentucky enable us to efficiently serve customers across the nation. Whether you're in the bustling streets of Los Angeles or the heart of New York City, we ensure timely deliveries right to your doorstep. With our drop shipping options, you can focus on growing your business while we handle the logistics, delivering your products seamlessly to every corner of the United States</p>
        </div>
        <div class="order-1 lg:order-2">
            <img class="" src="/assets/Banner-Mapa-Oliver_800x500px.png" alt="">
        </div>
    </div>
</section>
  

<section id="new-features" class="py-8 bg-white sm:py-10 lg:py-16">
  <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="text-center">
      <h2 class="text-3xl font-bold leading-tight text-gray-900 sm:text-4xl xl:text-5xl">
        Boost Your Productivity </h2>
      <p class="mt-4 text-base leading-7 text-gray-600 sm:mt-8">
        Enhance your workflow with advanced features
      </p>
    </div>
    <div
      class="grid grid-cols-1 mt-10 text-center sm:mt-16 sm:grid-cols-2 sm:gap-x-12 gap-y-12 md:grid-cols-3 md:gap-0 xl:mt-24">
      <!-- Feature 1 -->
      <div class="md:p-8 lg:p-14 flex flex-col justify-center items-center">
        <div class="w-14 h-14 rounded-full bg-purple-200 flex justify-center items-center">
          <i class="fa-solid fa-chart-column text-3xl text-gray-900"></i>
        </div>
        <h3 class="mt-12 text-xl font-bold text-gray-900">Advanced Analytics</h3>
        <p class="mt-5 text-base text-gray-600">Track and analyze your data with powerful analytics tools. Gain valuable
          insights for better decision-making.</p>
      </div>

      <!-- Feature 2 -->
      <div class="md:p-8 lg:p-14 md:border-l md:border-gray-200 flex flex-col justify-center items-center">
        <div class="w-14 h-14 rounded-full bg-teal-200 flex justify-center items-center">
          <i class="fa-solid fa-truck-fast text-3xl text-gray-900"></i>
        </div>
        <h3 class="mt-12 text-xl font-bold text-gray-900">Fast Integration</h3>
        <p class="mt-5 text-base text-gray-600">Seamlessly integrate with your existing tools and systems for a smooth
          workflow experience.</p>
      </div>

      <!-- Feature 3 -->
      <div class="md:p-8 lg:p-14 md:border-l md:border-gray-200 flex flex-col justify-center items-center">
        <div class="w-14 h-14 rounded-full bg-yellow-200 flex justify-center items-center">
          <i class="fa-solid fa-shield text-3xl text-gray-900"></i>
        </div>
        <h3 class="mt-12 text-xl font-bold text-gray-900">Security First</h3>
        <p class="mt-5 text-base text-gray-600">Ensure the safety of your data with top-notch security features. Your
          privacy is our priority.</p>
      </div>

      <!-- Feature 4 -->
      <div class="md:p-8 lg:p-14 md:border-t md:border-gray-200 flex flex-col justify-center items-center">
        <div class="w-14 h-14 rounded-full bg-red-200 flex justify-center items-center">
          <i class="fa-solid fa-cloud text-3xl text-gray-900"></i>
        </div>
        <h3 class="mt-12 text-xl font-bold text-gray-900">Cloud Integration</h3>
        <p class="mt-5 text-base text-gray-600">Access your data from anywhere with seamless cloud integration. Work
          without boundaries.</p>
      </div>

      <!-- Feature 5 -->
      <div class="md:p-8 lg:p-14 md:border-l md:border-gray-200 md:border-t flex flex-col justify-center items-center">
        <div class="w-14 h-14 rounded-full bg-green-200 flex justify-center items-center">
          <i class="fa-solid fa-pen-nib text-3xl text-gray-900"></i>
        </div>
        <h3 class="mt-12 text-xl font-bold text-gray-900">Task Management</h3>
        <p class="mt-5 text-base text-gray-600">Organize your workflow with efficient task management features. Stay on
          top of your projects effortlessly.</p>
      </div>

      <!-- Feature 6 -->
      <div class="md:p-8 lg:p-14 md:border-l md:border-gray-200 md:border-t flex flex-col justify-center items-center">
        <div class="w-14 h-14 rounded-full bg-orange-200 flex justify-center items-center">
          <i class="fa-solid fa-bolt text-3xl text-gray-900"></i>
        </div>
        <h3 class="mt-12 text-xl font-bold text-gray-900">Performance Metrics</h3>
        <p class="mt-5 text-base text-gray-600">Monitor and measure your performance with comprehensive metrics.
          Optimize your processes for maximum efficiency.</p>
      </div>
    </div>
  </div>
</section>

<div class='mx-auto'>
  <!--Gallery 1-->
 <!--Responsive grid-->
  <div class="mx-auto px-4 my-3">
      <h2 class="text-4xl bg-gray-700 p-4 rounded-sm text-white text-center">GALLERY  </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-2 mt-2">
        <div class="flex justify-center text-6xl border-1 border-gray-300 rounded-sm p-2 bg-gray-500 hover:bg-red-700"><img class="w-full rounded-sm bg-red-500" src="/assets/gallery-test1.png" /></div>
        <div class="flex justify-center text-6xl border-1 border-gray-300 rounded-sm p-2 bg-gray-500 hover:bg-red-700"><img class="w-full rounded-sm" src="/assets/gallery-test2.png" /></div>
        <div class="flex justify-center text-6xl border-1 border-gray-300 rounded-sm p-2 bg-gray-500 hover:bg-red-700"><img class="w-full rounded-sm" src="/assets/gallery-test3.png" /></div>
        <div class="flex justify-center text-6xl border-1 border-gray-300 rounded-sm p-2 bg-gray-500 hover:bg-red-700"><img class="w-full rounded-sm" src="/assets/gallery-test4.png" /></div>
      </div>
    </div>
 <!--/Gallery 1-->
 </div>
  