<app-product-details 
    name="Charge air cooler hose with Stainless steel rings"
    description="We are a top manufacturer of charge air cooler hoses in North America. We produce a wide spectrum of charge air cooler hoses including hoses with large diameters and with stainless steel rings to provide extra strength. We have specially developed formulations to withstand the toughest of conditions. We are also experts in FKM + FVMQ (fluorosilicone) liners if additional chemical resistance is needed. We put our hoses through rigorous testing including burst pressure tests to ensure our hoses perform as intended."
    [images]="['/assets/products/mandrel-formed-hoses/charge-air-cooler-hose-stainless-rings.jpg', 
                ]"
/>

