<app-product-details 
    name="FKM lined silicone hoses"
    description="
                <p> We manufacturer a wide spectrum of FKM lined silicone hoses that comply with SAE J30 R7. We have special formulations and techniques to ensure great adhesion that meets the toughest of requirements. Our FKM lined hoses are autoclave cured, and provide additional impermeation properties that silicone or even fluorosilicone (FVMQ) cannot provide.  </p>
                <p> There are a lot of challenges with making FKM lined silicone hoses, but we have the experience it takes to handle the toughest parts to make. We compound FKM internally and have the scale to provide the most cost effective parts in the market</p>
                " 
    [features]="[
        'We have 100s of parts that use FKM liners ranging from hump hoses, couplers, reducers, elbows, stainless steel reinforced hump couplers and much more.',
        'Our typical parts use nomex or polyester reinforcement and have 2-5 plies of reinforcement depending on the specific requirements and application',
    ]"
    [images]="[
        '/assets/products/mandrel-formed-hoses/FMK-lined-silicone-hoses/FMK-lined-silicone-hoses.jpg',
        '/assets/products/mandrel-formed-hoses/FMK-lined-silicone-hoses/FMK-lined-silicone-hoses2.jpg',
    ]"
/>
