<section class="bg-white dark:bg-gray-900">
    <div class="container px-6 py-10 mx-auto">
        <div class="lg:flex lg:items-center">
            <div class="w-full space-y-12 lg:w-1/2 ">
                <div>
                    <h1 class="font-bold text-5xl text-[#007faa] mb-4">
                        Rubber Extrusion
                    </h1>
                    <h2 class="text-md  text-[#4f7583] lg:text-md dark:text-white">
                        Rubber extrusion is a manufacturing process in which raw rubber material is forced through a mold (or die) to create continuous shapes with a specific profile. 
                        This technique is commonly used to produce rubber seals, gaskets, hoses, tubing, and custom profiles for various industries, including automotive, construction, and medical devices. 
                        The extrusion process ensures high precision and consistency, allowing for the creation of complex cross-sectional shapes in various sizes and lengths.
                    </h2>

                    <div class="mt-2">
                        <span class="inline-block w-40 h-1 bg-blue-500 rounded-full"></span>
                        <span class="inline-block w-3 h-1 ml-1 bg-blue-500 rounded-full"></span>
                        <span class="inline-block w-1 h-1 ml-1 bg-blue-500 rounded-full"></span>
                    </div>
                </div>

                <div class="md:flex md:items-start md:-mx-4">
                    <span class="inline-block p-2 text-blue-500 bg-blue-100 rounded-xl md:mx-4 dark:text-white dark:bg-blue-500">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
                        </svg>
                    </span>

                    <div class="mt-4 md:mx-4 md:mt-0">
                        <h2 class="text-xl font-semibold text-gray-700 capitalize dark:text-white">
                            ID/OD Tubing and Cord Stock
                        </h2>

                        <p class="mt-3 text-gray-500 dark:text-gray-300">
                            We manufacture tubing and cord stock in all sizes and colors, with flexible production runs to suit any quantity. Our compounding department ensures we meet your specific color and strength requirements, while our cutting and packaging solutions make the process easy and efficient.
                        </p>
                    </div>
                </div>

                <div class="md:flex md:items-start md:-mx-4">
                    <span class="inline-block p-2 text-blue-500 bg-blue-100 rounded-xl md:mx-4 dark:text-white dark:bg-blue-500">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
                        </svg>
                    </span>

                    <div class="mt-4 md:mx-4 md:mt-0">
                        <h2 class="text-xl font-semibold text-gray-700 capitalize dark:text-white">
                            Braided Silicone Heater Hose
                        </h2>

                        <p class="mt-3 text-gray-500 dark:text-gray-300 mb-3">
                            We offer complete braiding capabilities and specialized tooling for all standard hose sizes, with extensive experience in producing SAE J20 heater hose. 
                            Our in-house compounding allows for limitless color customization and ensures the highest quality, meeting even the most demanding specifications.
                        </p>
                        <div class="w-1/2 justify-center text-6xl border-1  rounded-md p-1 bg-[#007faa] hover:opacity-90"><img loading="lazy" class="w-full rounded-md bg-red-500" src="assets/services/rubber-extrusion/rubber-extrusion-gallery-1.jpg" /></div>

                    </div>
                </div>

                <div class="md:flex md:items-start md:-mx-4">
                    <span class="inline-block p-2 text-blue-500 bg-blue-100 rounded-xl md:mx-4 dark:text-white dark:bg-blue-500">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 18.657A8 8 0 016.343 7.343S7 9 9 10c0-2 .5-5 2.986-7C14 5 16.09 5.777 17.656 7.343A7.975 7.975 0 0120 13a7.975 7.975 0 01-2.343 5.657z" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.879 16.121A3 3 0 1012.015 11L11 14H9c0 .768.293 1.536.879 2.121z" />
                        </svg>
                    </span>

                    <div class="mt-4 md:mx-4 md:mt-0">
                        <h2 class="text-xl font-semibold text-gray-700 capitalize dark:text-white">
                            Custom Rubber Extrusion Profiles
                        </h2>

                        <p class="mt-3 text-gray-500 dark:text-gray-300 mb-4">
                            We offer complete rubber extrusion services for a wide range of custom profiles, including seals, gaskets, and tubing. 
                            With advanced extrusion technology and full compounding capabilities, we can meet any color or material requirement. 
                            Our expert team ensures precision and consistency, providing solutions that meet the toughest performance specifications and industry standards.
                        </p>
                        <a routerLink="/services/compounding" class="bg-yellow-300 text-gray-900 hover:bg-[#37bef0] py-2 px-6 rounded-full  text-lg font-semibold transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg inline-block text-center">Learn more about our Materials</a>

                    </div>
                </div>

                <div class="md:flex md:items-start md:-mx-4">
                    <span class="inline-block p-2 text-blue-500 bg-blue-100 rounded-xl md:mx-4 dark:text-white dark:bg-blue-500">
                        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M8.737 8.737a21.49 21.49 0 0 1 3.308-2.724m0 0c3.063-2.026 5.99-2.641 7.331-1.3 1.827 1.828.026 6.591-4.023 10.64-4.049 4.049-8.812 5.85-10.64 4.023-1.33-1.33-.736-4.218 1.249-7.253m6.083-6.11c-3.063-2.026-5.99-2.641-7.331-1.3-1.827 1.828-.026 6.591 4.023 10.64m3.308-9.34a21.497 21.497 0 0 1 3.308 2.724m2.775 3.386c1.985 3.035 2.579 5.923 1.248 7.253-1.336 1.337-4.245.732-7.295-1.275M14 12a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"/>
                          </svg>
                          
                    </span>

                    <div class="mt-4 md:mx-4 md:mt-0">
                        <h2 class="text-xl font-semibold text-gray-700 capitalize dark:text-white">
                            Precision Extrusion Services: Printing, Cutting, and Splicing Solutions
                        </h2>

                        <p class="mt-3 text-gray-500 dark:text-gray-300 mb-4">
                            We have ink jet printers for applying logos or other prints that need to be directly applied to an extrusion. 
                            We have automated equipment for cutting extrusions to length. We can package your extrusions in bulk, in individual bags with other components, or however is the most convenient for your company.

                            <span class="block">
                                We also have equipment for splicing ends of an extrusion together. 
                                This is often done for large diameter seals where molds the extrusion would be cost prohibitive. 
                                We have equipment, techniques and adhesives to ensure that the spliced ends are done accurately and will not fail. 
                                We are able to splice ends with silicone as well as with organic rubbers including EPDM, and NBR.
                            </span>
                        </p>
                        

                    </div>
                </div>
            </div>

            <div class="hidden lg:flex lg:items-center lg:w-1/2 lg:justify-center">

                <img class="lg:ml-72 w-[28rem] h-[28rem] object-cover xl:w-[34rem] xl:h-[34rem] rounded-full" src="assets/services/rubberExtrusion.png" alt="">
            </div>

            
        </div>

        
    </div>
</section>


<section>
    
    <div class="mx-auto px-4 my-3">
        <hr class="my-6 border-gray-200 dark:border-gray-700">
        <h2 class="text-4xl bg-[#007faa] p-2 m-3 md:p-4 md:m-6 rounded-3xl text-white text-center hover:opacity-75">GALLERY  </h2>
            <div class="container px-6 py-10 mx-auto">
                <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-2 md:gap-8 mt-2">
                    <div class="flex justify-center text-6xl border-1  rounded-md p-1 bg-[#007faa] hover:opacity-90"><img loading="lazy" class="w-full rounded-md bg-red-500" src="assets/services/rubber-extrusion/idod-tubing.png" /></div>

                    <div class="flex justify-center text-6xl border-1  rounded-md p-1 bg-[#007faa] hover:opacity-90"><img loading="lazy" class="w-full rounded-md bg-red-500" src="assets/services/rubber-extrusion/braided-silicone.png" /></div>

                    <div class="flex justify-center text-6xl border-1  rounded-md p-1 bg-[#007faa] hover:opacity-90"><img loading="lazy" class="w-full rounded-md bg-red-500" src="assets/services/rubber-extrusion/rubber-extrusion-gallery-1.jpg" /></div>

                </div>
                <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-2 md:gap-8 mt-2">
                    <div class="flex justify-center text-6xl border-1  rounded-md p-1 bg-[#007faa] hover:opacity-90"><img loading="lazy" class="w-full rounded-md" src="assets/services/rubber-extrusion/rubber-extrusion-gallery-2.jpg" /></div>
                    <div class="flex justify-center text-6xl border-1  rounded-md p-1 bg-[#007faa] hover:opacity-90"><img loading="lazy" class="w-full rounded-md bg-red-500" src="assets/services/rubber-extrusion/rubber-extrusion-gallery-3.jpg" /></div>
                    <div class="flex justify-center text-6xl border-1  rounded-md p-1 bg-[#007faa] hover:opacity-90"><img loading="lazy" class="w-full rounded-md" src="assets/services/rubberExtrusion.png" /></div>

                    <div class="flex justify-center text-6xl border-1  rounded-md p-1 bg-[#007faa] hover:opacity-90"><img loading="lazy" class="w-full rounded-md" src="assets/services/rubber-extrusion/rubber-extrusion-gallery-4.jpg" /></div>
                    <div class="flex justify-center text-6xl border-1  rounded-md p-1 bg-[#007faa] hover:opacity-90"><img loading="lazy" class="w-full rounded-md bg-red-500" src="assets/services/rubber-extrusion/rubber-extrusion-gallery-5.jpg" /></div>
                    <div class="flex justify-center text-6xl border-1  rounded-md p-1 bg-[#007faa] hover:opacity-90"><img loading="lazy" class="w-full rounded-md bg-red-500" src="assets/services/rubber-extrusion/rubber-extrusion-gallery-6.jpg" /></div>
                </div>
            </div>
    </div>
</section>