<section>
    <div class="w-full mx-auto lg:max-w-7xl mt-2 p-0">
        <div>
            <h1 class="font-bold text-4xl text-[#007faa] mb-2">
                Rubber Molding
            </h1>
            <h2 class="text-md  text-[#4f7583] lg:text-md dark:text-white mb-1">
                Rubber molding is a manufacturing process that involves shaping rubber into specific forms using molds. 
                This versatile technique is used to create custom parts for various industries, ensuring precise dimensions, durability, and performance. 
                Ideal for producing seals, gaskets, and other components, rubber molding offers flexibility in design and material choice for a wide range of applications.
            </h2>
            <div class="mt-2">
                <span class="inline-block w-40 h-1 bg-blue-500 rounded-full"></span>
                <span class="inline-block w-3 h-1 ml-1 bg-blue-500 rounded-full"></span>
                <span class="inline-block w-1 h-1 ml-1 bg-blue-500 rounded-full"></span>
            </div>
        </div>
    </div>
</section>

<section class="bg-gray-100">
    <div class="grid md:grid-cols-1 grid-cols-1 md:m-8  gap-y-4 pt-4">
        <app-horizontal-card
            title="Molding Processes"
            learnText="Learn more about Molding Processes"
            imageUrl="assets/services/rubber-molding/molding-processes/compression-molding/compression-molding-gallery3.png"
            description="We provide comprehensive rubber boot manufacturing services, specializing in custom designs to meet a variety of applications. Using cutting-edge molding technology and advanced compounding capabilities, we can deliver boots in any size, shape, or material specification. Whether you need enhanced durability, flexibility, or weather resistance, our team ensures that each boot meets the highest standards for performance and reliability. We take pride in our ability to meet tight deadlines and deliver products that align with your unique requirements. Trust us for precision-engineered rubber boots that excel in demanding environments."
            link="/services/rubber-molding/more-processes"
        />

        <app-horizontal-card
            title="Mold Making"
            learnText="Learn more about our Mold making"
            imageUrl="/assets/services/rubber-molding/bump-stops/bumpStop1.png"
            link="/services/rubber-molding/mold-making"
            description="We are a top manufacturer of rubber bump stops with 10s of different bumps that we actively make. We are able to overmold hardware, or custom machined steel pieces to go along with the bump stop. We have experience making bump stops from microcellular polyurethane foam, elastomer polyurethane (for best abrasion resistance), as well as with NBR, silicone and more. Nobody has more experience and applications of body mounts than us. We have molds for many of the top applications and we can use our experience to develop bumps stops for your specific application."
        />

        <app-horizontal-card
            title="Quality"
            learnText="Know more about our Quality Machines and Techniques"
            imageUrl="/assets/quality/keyence-gallery1.png"
            link="/quality"
            description="For parts up to 80mm in diameter and 30mm tall we can do a 100% inspection with the top of the line visual inspection system that can inspect up to 14 parts a second. Our equipment can measure the cross section, visually inspect surfaces using AI, detect/measure flash, measure flatness, and check for the presences of bubbles/cuts or fractures ensuring every part is defect free.
            For larger parts we also have 3d scanners, probes and a Keyence IM8030T visual inspection system for doing spot or sample measurements."
        />

        <app-horizontal-card
            title="Materials"
            learnText="Learn more about our Materials"
            link="/services/compounding"
            imageUrl="/assets/services/rubberMolding.png"
            description="Rubber Mexico has 3 chemists, a full service rubber lab that supports our molding department, but that also allows us to compound nearly all of the rubber that we use internally. We have large silicone kneaders allowing us to compound silicone from the polymer, unlike nearly every other silicone parts manufacturer that purchases just adds colorant and curatives on a two roll mill. We are one of the largest manufacturers of silicone and fluorosilicone products in North America with hundreds of existing compounds that we have developed over decades. Very few companies have more experience or scale with silicone rubber than us, we cannot be beat with silicone molded products."
        />

    </div>
</section>


<section>
    
    <div class="mx-auto px-4 my-3">
        <hr class="my-6 border-gray-200 dark:border-gray-700">
        <h2 class="text-4xl bg-[#007faa] p-2 m-3 md:p-4 md:m-6 rounded-3xl text-white text-center hover:opacity-75">Product Types  </h2>
    </div>

    <div class="grid md:grid-cols-3 grid-cols-1 md:mx-8  gap-8 ">
        <app-product-card
            title="Boots/Bellows"
            imageUrl="/assets/services/rubber-molding/boots/rubber-boots-gallery4.png"
            description="We provide comprehensive rubber boot manufacturing services, specializing in custom designs to meet a variety of applications. Using cutting-edge molding technology and advanced compounding capabilities, we can deliver boots in any size, shape, or material specification. Whether you need enhanced durability, flexibility, or weather resistance, our team ensures that each boot meets the highest standards for performance and reliability. We take pride in our ability to meet tight deadlines and deliver products that align with your unique requirements. Trust us for precision-engineered rubber boots that excel in demanding environments."
        />

        <app-product-card
            title="Bumbp stops"
            imageUrl="/assets/services/rubber-molding/bump-stops/bumpStop1.png"
            description="We are a top manufacturer of rubber bump stops with 10s of different bumps that we actively make. We are able to overmold hardware, or custom machined steel pieces to go along with the bump stop. We have experience making bump stops from microcellular polyurethane foam, elastomer polyurethane (for best abrasion resistance), as well as with NBR, silicone and more. Nobody has more experience and applications of body mounts than us. We have molds for many of the top applications and we can use our experience to develop bumps stops for your specific application."
        />

        <app-product-card
            title="Bushings"
            imageUrl="/assets/services/rubber-molding/bushings/bushings-3.png"
            description="Cast polyurethane bushings for the best abrasion resistance. Various hardness depending on the application. Injection molded polyurethane bushings as well for higher volume application."
        />

    </div>
</section>


<section>
    <div class="mx-auto px-4 my-3">
        <hr class="my-6 border-gray-200 dark:border-gray-700">
        <h2 class="text-4xl bg-[#007faa] p-2 m-3 md:p-4 md:m-6 rounded-3xl text-white text-center hover:opacity-75">GALLERY  </h2>
            <div class="container px-6 py-10 mx-auto">
                <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-2 md:gap-8 mt-2">
                    <div class="flex justify-center text-6xl border-1  rounded-md p-1 bg-[#007faa] hover:opacity-90"><img loading="lazy" class="w-full rounded-md bg-red-500" src="assets/services/rubber-molding/rubber-molding-gallery1.png" /></div>

                    <div class="flex justify-center text-6xl border-1  rounded-md p-1 bg-[#007faa] hover:opacity-90"><img loading="lazy" class="w-full rounded-md bg-red-500" src="assets/services/rubber-molding/rubber-molding-gallery2.png" /></div>

                    <div class="flex justify-center text-6xl border-1  rounded-md p-1 bg-[#007faa] hover:opacity-90"><img loading="lazy" class="w-full rounded-md bg-red-500" src="assets/services/rubber-molding/rubber-molding-gallery3.png" /></div>

                </div>
                <div class="flex justify-center text-6xl border-1  rounded-md p-1 bg-[#007faa] hover:opacity-90 mt-2">
                    <video class="w-full" autoplay controls loop [muted]="'muted'" loading="lazy" >
                        <source  src="assets/services/rubber-molding/rubber-molding-gallery4.mp4" type="video/mp4">
                    </video>
                </div>

            </div>
    </div>
</section>