<section class="bg-white dark:bg-gray-900">
    <div class="container px-6 py-10 mx-auto">
        <div class="lg:flex lg:items-center">
            <div class="w-full space-y-12 lg:w-1/2 ">
                <div>
                    <h1 class="font-bold text-5xl text-[#007faa] mb-4">
                        Rubber Calendering
                    </h1>
                    <h2 class="text-md  text-[#4f7583] lg:text-md dark:text-white">
                        Rubber calendering is a process where rubber is passed through rollers to form sheets or films of specific thicknesses and sizes. 
                        This method is ideal for producing high-quality, consistent rubber products used in industries such as automotive, medical, and manufacturing. 
                        Calendering ensures precision, durability, and uniformity, making it perfect for custom rubber sheets, films, and components for diverse applications.
                    </h2>
                    <div class="mt-2">
                        <span class="inline-block w-40 h-1 bg-blue-500 rounded-full"></span>
                        <span class="inline-block w-3 h-1 ml-1 bg-blue-500 rounded-full"></span>
                        <span class="inline-block w-1 h-1 ml-1 bg-blue-500 rounded-full"></span>
                    </div>
                </div>

                <div class="md:flex md:items-start md:-mx-4">
                    <span class="inline-block p-2 text-blue-500 bg-blue-100 rounded-xl md:mx-4 dark:text-white dark:bg-blue-500">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
                        </svg>
                    </span>

                    <div class="mt-4 md:mx-4 md:mt-0">
                        <h2 class="text-xl font-semibold text-gray-700 capitalize dark:text-white">
                            Custom Calendered Silicone & Rubber Sheets: Precision Thicknesses and Widths
                        </h2>

                        <p class="mt-3 text-gray-500 dark:text-gray-300">
                            Solid silicone and organic rubber sheets calendered down to 0.003" thick and up to 52" wide. 
                            We have 3 rubber calenders all with heating and cooling to process a wide variety of rubbers from silicone, to FKM, SBR, NBR and much more. 
                            Our equipment is setup to automatically cut to width, cut to length, or provide in continuous full roll dimensions. 
                            We can supply uncured or cured sheets, with single or double layered with polyethylene sheeting. 
                        </p>
                    </div>
                </div>

                <div class="md:flex md:items-start md:-mx-4">
                    <span class="inline-block p-2 text-blue-500 bg-blue-100 rounded-xl md:mx-4 dark:text-white dark:bg-blue-500">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
                        </svg>
                    </span>

                    <div class="mt-4 md:mx-4 md:mt-0">
                        <h2 class="text-xl font-semibold text-gray-700 capitalize dark:text-white">Unmatched Quality in Rubber Calendering</h2>

                        <p class="mt-3 text-gray-500 dark:text-gray-300">
                            We offer versatile rubber calendering services, including rubber application on fabric, whether it’s just one side or both. 
                            Our expertise includes working with a range of materials such as polyester, Nomex, and fiberglass, though we have extensive experience with many other fabrics as well. 
                            Each project is approached with a commitment to quality, ensuring optimal bonding and performance for diverse applications.                    </div>
                </div>

                <div class="md:flex md:items-start md:-mx-4">
                    <span class="inline-block p-2 text-blue-500 bg-blue-100 rounded-xl md:mx-4 dark:text-white dark:bg-blue-500">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 18.657A8 8 0 016.343 7.343S7 9 9 10c0-2 .5-5 2.986-7C14 5 16.09 5.777 17.656 7.343A7.975 7.975 0 0120 13a7.975 7.975 0 01-2.343 5.657z" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.879 16.121A3 3 0 1012.015 11L11 14H9c0 .768.293 1.536.879 2.121z" />
                        </svg>
                    </span>

                    <div class="mt-4 md:mx-4 md:mt-0">
                        <h2 class="text-xl font-semibold text-gray-700 capitalize dark:text-white">
                            Lamination
                        </h2>

                        <p class="mt-3 text-gray-500 dark:text-gray-300">
                            We also have 3 laminating lines as well to add adhesive backings or for other customer applications to cured sheet stock. 
                            We can laminate cured sheet stock, and cut to the desired length + width.
                        </p>
                    </div>
                </div>
            </div>

            <div class="hidden lg:flex lg:items-center lg:w-1/2 lg:justify-center">

                <img class="w-[28rem] h-[28rem] object-cover xl:w-[34rem] xl:h-[34rem] rounded-full" src="assets/services/rubber-calendering.png" alt="">
            </div>

            
        </div>

        
    </div>
</section>


<section>
    
    <div class="mx-auto px-4 my-3">
        <hr class="my-6 border-gray-200 dark:border-gray-700">
        <h2 class="text-4xl bg-[#007faa] p-2 m-3 md:p-4 md:m-6 rounded-3xl text-white text-center hover:opacity-75">GALLERY  </h2>
            <div class="container px-6 py-10 mx-auto">
                <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-2 md:gap-8 mt-2">
                    <div class="flex justify-center text-6xl border-1  rounded-md p-1 bg-[#007faa] hover:opacity-90"><img loading="lazy" class="w-full rounded-md bg-red-500" src="assets/services/rubber-calendering/rubber-calendering-gallery1.png" /></div>

                    <div class="flex justify-center text-6xl border-1  rounded-md p-1 bg-[#007faa] hover:opacity-90"><img loading="lazy" class="w-full rounded-md bg-red-500" src="assets/services/rubber-calendering/rubber-calendering-gallery2.png" /></div>

                    <div class="flex justify-center text-6xl border-1  rounded-md p-1 bg-[#007faa] hover:opacity-90"><img loading="lazy" class="w-full rounded-md bg-red-500" src="assets/services/rubber-calendering/rubber-calendering-gallery3.png" /></div>

                </div>
                <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-2 md:gap-8 mt-2">
                    <div>
                        <video class="w-full  rounded-md p-1 bg-[#007faa] hover:opacity-90" autoplay controls loop [muted]="'muted'" loading="lazy" >
                            <source  src="assets/services/rubber-calendering/rubber-calendering-gallery8.mp4" type="video/mp4">
                        </video>
                        <div class="w-full justify-center text-6xl border-1  rounded-md p-1 bg-[#007faa] hover:opacity-90">
                            <img loading="lazy" class=" object-cover	  rounded-md bg-red-500" src="assets/services/rubber-calendering/rubber-calendering-gallery11.png" />
                        </div>

                    </div>
                    <video class="w-full  rounded-md p-1 bg-[#007faa] hover:opacity-90" autoplay controls loop [muted]="'muted'" loading="lazy" >
                        <source  src="assets/services/rubber-calendering/rubber-calendering-gallery9.mp4" type="video/mp4">
                    </video>
                    <video class="w-full  rounded-md p-1 bg-[#007faa] hover:opacity-90" autoplay controls loop [muted]="'muted'" loading="lazy" >
                        <source  src="assets/services/rubber-calendering/rubber-calendering-gallery10.mp4" type="video/mp4">
                    </video>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-2 md:gap-8 mt-2">
                    <div class="flex justify-center text-6xl border-1  rounded-md p-1 bg-[#007faa] hover:opacity-90"><img loading="lazy" class="w-full rounded-md bg-red-500" src="assets/services/rubber-calendering/rubber-calendering-gallery4.png" /></div>

                    <div class="flex justify-center text-6xl border-1  rounded-md p-1 bg-[#007faa] hover:opacity-90"><img loading="lazy" class="w-full rounded-md bg-red-500" src="assets/services/rubber-calendering/rubber-calendering-gallery5.png" /></div>

                    <div class="flex justify-center text-6xl border-1  rounded-md p-1 bg-[#007faa] hover:opacity-90"><img loading="lazy" class="w-full rounded-md bg-red-500" src="assets/services/rubber-calendering/rubber-calendering-gallery6.png" /></div>

                </div>

            </div>
    </div>
</section>