<section>
    <div class="relative mx-6 max-w-full my-8 ">
        <a href="https://rubber-mexico.com/" target="_blank">
            <div class="rounded-xl p-1" style="background-image: linear-gradient(to right bottom, rgb(79, 70, 229) 0%, rgb(165, 56, 164) 50%, rgb(220, 38, 38) 100%);">
                <div class="rounded-lg bg-black/80 backdrop-blur ">
                    <div class="flex w-full flex-wrap items-center justify-between gap-4 px-8 py-4 sm:px-16 lg:flex-nowrap">
                        <div class="lg:max-w-full">
                            <h2
                                class="block w-full pb-0 bg-gradient-to-b from-white to-gray-400 bg-clip-text font-bold text-transparent text-3xl sm:text-4xl">
                                Expanding Our Expertise: Quality Rubber Manufacturing Solutions
                            </h2>
                            <p class="my-1 bg-transparent font-medium leading-relaxed tracking-wide text-gray-400">
                                We’re excited to expand beyond rotomolding! In addition, we specialize in rubber manufacturing, offering compounding, compression molding, extrusion and more.
                            </p>
                        </div>
                        <div class="flex flex-wrap items-center justify-center gap-6 ">
                            <button class="bg-[#1a9bc9] text-white button-text flex items-center justify-center whitespace-nowrap rounded-md transition-all duration-300 px-2 py-3 text-md sm:text-xl">Visit Rubber-Mexico</button>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</section>

