<app-product-details 
    name="Boots/Bellows"
    description="
        <p class='mb-2'> 
            We have 47+ years of experience making rubber boots/bellows for a variety of applications including shocks, rack and pinions, ball joints, firewall, motorcycle fork, jounce bumpers, and much more. 
            We have hundreds of standard molds so often times we already have tooling available to meet our customers requirements. 
            We are one of the largest manufacturers of rubber boots in North American with decades of experience perfecting the molding process of these complex parts.
        </p>

        <p class='mb-2'> 
            We primarily use PVC, silicone, neoprene and TPE for rubber boots. We have a variety of compounds in stock for different colors, hardness or physical properties.
        </p>

        <p class='my-2'>
            The main application for these boots/bellows is to protect the interior object from dust, water and other contaminants. 
            We can design boots to a specific stiffness, heat resistance,  flexibility and much more to make sure that it performs well in the intended application. 
        </p>
    "
    [images]="['/assets/products/rubber-molding/boots/rubber-boots-gallery1.jpg', 
                '/assets/products/rubber-molding/boots/rubber-boots-gallery2.jpg', 
                '/assets/products/rubber-molding/boots/rubber-boots-gallery4.jpg', 
                '/assets/products/rubber-molding/boots/rubber-boots-gallery5.jpg', 
                '/assets/products/rubber-molding/boots/rubber-boots-gallery6.jpg', 
                '/assets/products/rubber-molding/boots/rubber-boots-gallery7.jpg',
                '/assets/products/rubber-molding/boots/rubber-boots-gallery8.jpg',
                ]"
/>
