<section class="bg-white dark:bg-gray-900">
    <div class="container px-6 py-10 mx-auto">
        <div class="lg:flex lg:items-center">
            <div class="w-full space-y-12 lg:w-1/2 ">
                <div>
                    <h1 class="font-bold text-5xl text-[#007faa] mb-4">Mandrel Formed Hoses</h1>
                    <h2 class="text-md  text-[#4f7583] lg:text-md dark:text-white">
                        Formed fabric reinforced silicone hoses are made in a manufacturing process where silicone rubber is formed on a mandrel along with fabric reinforcing layers and often with a chemical resistant liner like FKM or fluorosilicone.
                    </h2>

                    <div class="mt-2">
                        <span class="inline-block w-40 h-1 bg-blue-500 rounded-full"></span>
                        <span class="inline-block w-3 h-1 ml-1 bg-blue-500 rounded-full"></span>
                        <span class="inline-block w-1 h-1 ml-1 bg-blue-500 rounded-full"></span>
                    </div>
                </div>

                <div class="md:flex md:items-start md:-mx-4">
                    <span class="inline-block p-2 text-blue-500 bg-blue-100 rounded-xl md:mx-4 dark:text-white dark:bg-blue-500">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
                        </svg>
                    </span>

                    <div class="mt-4 md:mx-4 md:mt-0">
                        <h2 class="text-xl font-semibold text-gray-700 capitalize dark:text-white">
                            High-Performance Mandrel-Formed Hoses for Demanding Applications
                        </h2>

                        <p class="mt-3 text-gray-500 dark:text-gray-300 mb-4">
                            Explore our precision-engineered mandrel-formed hoses, crafted for exceptional durability and performance in demanding industries. 
                            Designed to handle the toughest applications, our hoses offer the perfect balance of strength, flexibility, and reliability. 
                            Whether you need high-performance capabilities or custom specifications, our advanced manufacturing techniques provide tailored solutions that ensure a perfect fit for your unique needs. 
                            Discover the ideal solution for your business by browsing our range of high-quality hoses. 
                        </p>

                    </div>
                </div>

                <div class="md:flex md:items-start md:-mx-4">
                    <span class="inline-block p-2 text-blue-500 bg-blue-100 rounded-xl md:mx-4 dark:text-white dark:bg-blue-500">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 18.657A8 8 0 016.343 7.343S7 9 9 10c0-2 .5-5 2.986-7C14 5 16.09 5.777 17.656 7.343A7.975 7.975 0 0120 13a7.975 7.975 0 01-2.343 5.657z" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.879 16.121A3 3 0 1012.015 11L11 14H9c0 .768.293 1.536.879 2.121z" />
                        </svg>
                    </span>

                    <div class="mt-4 md:mx-4 md:mt-0">
                        <h2 class="text-xl font-semibold text-gray-700 capitalize dark:text-white">
                            Advanced Reinforcement Options
                        </h2>

                        <p class="mt-3 text-gray-500 dark:text-gray-300">
                            We offer a variety of reinforcement options for our silicone hoses, including Nomex/Aramid, polyester, and fiberglass. 
                            These reinforcements enhance the strength and durability of your hoses, making them ideal for high-performance applications in demanding environments like automotive, industrial, and aerospace
                        </p>
                    </div>
                </div>
            </div>

            <div class="hidden lg:flex lg:items-center lg:w-1/2 lg:justify-center">

                <img class="w-[28rem] h-[28rem] object-cover xl:w-[34rem] xl:h-[34rem] rounded-full" src="assets/services/siliconeHoseWrapping.png" alt="">
            </div>
            
            

            
        </div>

    </div>
        <div class="md:p-10 tab-content bg-white shadow-md grid grid-cols-1 md:grid-cols-2">
            <div class="p-20 mx-auto self-center">
                <h2 class="text-3xl font-semibold mb-2 text-blue-700">
                    Custom Mandrel Formed Hoses for Every Need, check out some of them
                </h2>
                <div class="mb-4">
                    <p>
                        Explore our precision-engineered mandrel-formed hoses, designed to meet the toughest demands in various industries. 
                        Whether it's for high-performance applications or custom specifications, our hoses are crafted for durability, flexibility, and reliability. 
                        With advanced techniques and tailored solutions, we ensure the perfect fit for your unique requirements. 
                        Browse through our products to find the ideal solution for your business.
                    </p>

                </div>
            </div>

            <div class="w-60  md:w-96 mx-auto">
                <swiper-container class="swiper-container mb-6"  
                    autoplay="true"
                    navigation="true"
                    speed="500" 
                    pagination="true" 
                    loop="true"
                    effect="cards"
                    grab-cursor="true"
                    centered-slide="true"
                >
                    <swiper-slide class="" >
                        <img loading="lazy" src="/assets/services/silicone-hose-wrapping/Adapter.jpg" alt="" width="500" height="516">
                    </swiper-slide>
                    <swiper-slide class="" >
                        <img loading="lazy" src="/assets/services/silicone-hose-wrapping/Elbow 90.jpg" alt="" width="500" height="516">
                    </swiper-slide>
                    <swiper-slide class="" >
                        <img loading="lazy" src="/assets/services/silicone-hose-wrapping/Hose.jpg" alt="" width="500" height="516">
                    </swiper-slide>
                    <swiper-slide class="" >
                        <img loading="lazy" src="/assets/services/silicone-hose-wrapping/Elbow.jpg" alt="" width="500" height="516">
                    </swiper-slide>
                    <swiper-slide class="" >
                        <img loading="lazy" src="/assets/services/silicone-hose-wrapping/Straight Hose.jpg" alt="" width="500" height="516">
                    </swiper-slide>
                    <swiper-slide class="" >
                        <img loading="lazy" src="/assets/services/silicone-hose-wrapping/Hump.jpg" alt="" width="500" height="516">
                    </swiper-slide>
                    <swiper-slide class="" >
                        <img loading="lazy" src="/assets/services/silicone-hose-wrapping/Rings.jpg" alt="" width="500" height="516">
                    </swiper-slide>


                    <swiper-slide class="" >
                        <img loading="lazy" src="/assets/products/mandrel-formed-hoses/charge-air-cooler-hose-stainless-rings.jpg" alt="" width="500" height="516">
                    </swiper-slide>
                    <swiper-slide class="" >
                        <img loading="lazy" src="/assets/products/mandrel-formed-hoses/FMK-lined-silicone-hoses/FMK-lined-silicone-hoses.jpg" alt="" width="500" height="516">
                    </swiper-slide>
                    <swiper-slide class="" >
                        <img loading="lazy" src="/assets/products/mandrel-formed-hoses/FMK-lined-silicone-hoses/FMK-lined-silicone-hoses2.jpg" alt="" width="500" height="516">
                    </swiper-slide>
                    <swiper-slide class="" >
                        <img loading="lazy" src="/assets/products/mandrel-formed-hoses/FVMQ-lined-silicone-hoses/FVMQ-lined-silicone-hoses.jpg" alt="" width="500" height="516">
                    </swiper-slide>
                    <swiper-slide class="" >
                        <img loading="lazy" src="/assets/products/mandrel-formed-hoses/FVMQ-lined-silicone-hoses/FVMQ-lined-silicone-hoses2.jpg" alt="" width="500" height="516">
                    </swiper-slide>
                    <swiper-slide class="" >
                        <img loading="lazy" src="/assets/products/mandrel-formed-hoses/FVMQ-lined-silicone-hoses/FVMQ-lined-silicone-hoses3.jpg" alt="" width="500" height="516">
                    </swiper-slide>
                    <swiper-slide class="" >
                        <img loading="lazy" src="/assets/products/mandrel-formed-hoses/FVMQ-lined-silicone-hoses/FVMQ-lined-silicone-hoses4.jpg" alt="" width="500" height="516">
                    </swiper-slide>
                    <swiper-slide class="" >
                        <img loading="lazy" src="/assets/products/mandrel-formed-hoses/FVMQ-lined-silicone-hoses/FVMQ-lined-silicone-hoses5.jpg" alt="" width="500" height="516">
                    </swiper-slide>
                    <swiper-slide class="" >
                        <img loading="lazy" src="/assets/products/mandrel-formed-hoses/FVMQ-lined-silicone-hoses/FVMQ-lined-silicone-hoses6.jpg" alt="" width="500" height="516">
                    </swiper-slide>
                </swiper-container>
            </div>
        </div>
</section>

<section class="py-4" id="services">
    <div class="mx-auto px-4 my-3">
        <hr class="my-6 border-gray-200 dark:border-gray-700">
        <h2 class="text-4xl bg-[#007faa] p-2 m-3 md:p-4 md:m-6 rounded-3xl text-white text-center hover:opacity-75">Example Product Types  </h2>
    </div>
    <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">

            <app-product-card 
                title="Charge air cooler hose with Stainless steel rings" 
                imageUrl="assets/products/mandrel-formed-hoses/charge-air-cooler-hose-stainless-rings.jpg"
                description="We are a top manufacturer of charge air cooler hoses in North America. We produce a wide spectrum of charge air cooler hoses including hoses with large diameters and with stainless steel rings to provide extra strength. We have specially developed formulations to withstand the toughest of conditions. We are also experts in FKM + FVMQ (fluorosilicone) liners if additional chemical resistance is needed. We put our hoses through rigorous testing including burst pressure tests to ensure our hoses perform as intended."
                link="/mandrel-formed-hoses/products/charge-air-cooler-hose-stainless-rings"
            />

            <app-product-card 
                title="FVMQ lined silicone hoses" 
                imageUrl="assets/products/mandrel-formed-hoses/FVMQ-lined-silicone-hoses.jpg"
                link="/mandrel-formed-hoses/products/fvmq-lined-silicone-hoses"
            />

            <app-product-card 
                title="FKM lined silicone hoses" 
                imageUrl="assets/products/mandrel-formed-hoses/FMK-lined-silicone-hoses.jpg"
                description="We manufacturer a wide spectrum of FKM lined silicone hoses that comply with SAE J30 R7. We have special formulations and techniques to ensure great adhesion that meets the toughest of requirements. Our FKM lined hoses are autoclave cured, and provide additional impermeation properties that silicone or even fluorosilicone (FVMQ) cannot provide."
                link="/mandrel-formed-hoses/products/fmk-lined-silicone-hoses"
            />
        
        </div>
    </div>
</section>


<section>
    
    <div class="mx-auto md:px-4 my-3">
        <hr class="my-6 border-gray-200 dark:border-gray-700">
        <h2 class="text-4xl bg-[#007faa] p-2 m-3 md:p-4 md:m-6 rounded-3xl text-white text-center hover:opacity-75">GALLERY  </h2>
            <div class="container md:px-6 py-10 mx-auto">
                <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-2 md:gap-8 mt-2">
                    <div class="flex justify-center text-6xl border-1  rounded-md p-1 bg-[#007faa] hover:opacity-90"><img loading="lazy" class="w-full rounded-md bg-red-500" src="assets/services/silicone-hose-wrapping/silicone-hose-wrapping-bg.png" /></div>
                    <div class="flex justify-center text-6xl border-1  rounded-md p-1 bg-[#007faa] hover:opacity-90"><img loading="lazy" class="w-full rounded-md bg-red-500" src="assets/services/silicone-hose-wrapping/silicone-hose-wrapping-gallery1.png" /></div>
                    <div class="flex justify-center text-6xl border-1  rounded-md p-1 bg-[#007faa] hover:opacity-90"><img loading="lazy" class="w-full rounded-md bg-red-500" src="assets/services/silicone-hose-wrapping/silicone-hose-wrapping-gallery3.png" /></div>

                </div>

                
                <div class="grid grid-cols-1 md:flex justify-center text-6xl gap-2 mt-2">
                    <video class="w-full md:w-1/2 border-4  rounded-md p-2  border-[#007faa] hover:opacity-90" autoplay controls loop [muted]="'muted'" loading="lazy" >
                        <source  src="assets/services/silicone-hose-wrapping/wrapped-silicone-hoses-gallery2.mp4" type="video/mp4">
                    </video>
                    <video class="w-full md:w-1/2 border-4  rounded-md p-2   border-[#007faa] hover:opacity-90" autoplay controls loop [muted]="'muted'" loading="lazy" >
                        <source  src="assets/services/silicone-hose-wrapping/wrapped-silicone-hoses-gallery5.mp4" type="video/mp4">
                    </video>
                </div>

            </div>
    </div>
</section>


<section class="bg-white dark:bg-gray-900">
    <div class="container px-6 py-10 mx-auto">
        <div class="lg:flex lg:items-center">
            <div class="grid grid-cols-2 gap-x-10">

                <div class="md:flex md:items-start md:-mx-4">
                    <span class="inline-block p-2 text-blue-500 bg-blue-100 rounded-xl md:mx-4 dark:text-white dark:bg-blue-500">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
                        </svg>
                    </span>

                    <div class="mt-4 md:mx-4 md:mt-0">
                        <h2 class="text-xl font-semibold text-gray-700 capitalize dark:text-white">
                            Quality
                        </h2>

                        <p class="mt-3 text-gray-500 dark:text-gray-300 mb-4">
                            Our in-house lab ensures the highest level of quality via complete physical property testing in the raw material compounding process and burst pressure testing after parts are manufactured. 
                            Our team of chemists can help formulate material to withstand any extreme environment your parts may encounter.
                        </p>
                        <a routerLink="/quality" class="bg-yellow-300 text-gray-900 hover:bg-[#37bef0] py-2 px-6 rounded-full  text-lg font-semibold transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg inline-block text-center">Our Quality Machines and Techniques</a>

                    </div>
                </div>

                <div class="md:flex md:items-start md:-mx-4">
                    <span class="inline-block p-2 text-blue-500 bg-blue-100 rounded-xl md:mx-4 dark:text-white dark:bg-blue-500">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
                        </svg>
                    </span>

                    <div class="mt-4 md:mx-4 md:mt-0">
                        <h2 class="text-xl font-semibold text-gray-700 capitalize dark:text-white">
                            Vertical Integration
                        </h2>

                        <p class="mt-3 text-gray-500 dark:text-gray-300 mb-4">
                            We compound, calender and process our raw materials from start to finish in house. 
                            This shortens lead times, gives us consistent material availability, and allows for endless customization options. 
                            We do it all in house, from raw material to a finished wrapped hose product!
                        </p>
                        <a routerLink="/services/compounding" class="bg-yellow-300 text-gray-900 hover:bg-[#37bef0] py-2 px-6 rounded-full  text-lg font-semibold transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg inline-block text-center">Learn more about our Materials</a>

                    </div>
                </div>
            </div>    
        </div>
    </div>
</section>