<!-- FAQ -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Grid -->
    <div class="grid md:grid-cols-5 gap-10">
      <div class="md:col-span-2">
        <div class="max-w-sm md:mt-12">
          <h2 class="text-2xl font-bold md:text-5xl md:leading-tight">
            Frequently
            <br>
            Asked Questions
          </h2>
          <p class="mt-1 hidden md:block text-gray-600 mb-4">
            Answers to the most frequently asked questions.
          </p>
          <div class="w-full lg:justify-start justify-center items-start flex md:mt-0 mt-4">
            <div
                class="sm:w-[564px] w-full sm:h-[320px] h-full sm:bg-gray-100 rounded-3xl sm:border border-gray-200 relative">
                <img class="sm:mt-2 sm:ml-2 w-2/3 md:w-full h-full rounded-3xl object-cover"
                    src="assets/iso9001.png" alt="FAQ" />
            </div>
        </div>
        </div>
      </div>
      <!-- End Col -->
      <div class="md:col-span-3">
        <!-- Accordion -->
         @for (item of faqs; track $index) {
            <div class="py-5 accordion pb-8 border-b border-solid border-gray-200 hover:text-[#1a9bc9] accordion-active:color[#1a9bc9] accordion-active:font-medium">
                <details class="group">
                  <summary class="flex justify-between items-center font-medium text-lg cursor-pointer list-none focus:color[#1a9bc9] focus:text-2xl hover:text-xl">
                    <span>
                        {{item.question}}
                    </span>
                    <span class="transition group-open:rotate-180">
                      <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor"
                      stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24"
                      width="24">
                        <path d="M6 9l6 6 6-6">
                        </path>
                      </svg>
                    </span>
                  </summary>
                  <p class="text-neutral-700 mt-3 group-open:animate-fadeIn">
                    {{item.answer}}
                  </p>
                </details>
              </div>
         }
        <!-- End Accordion -->
      </div>
      <!-- End Col -->
    </div>
    <!-- End Grid -->
  </div>
  <!-- End FAQ -->

  