<section>
    <div class="grid grid-cols-1 md:grid-cols-2 mx-auto md:max-w-7xl mt-2 p-2 gap-6">
        <div>
            <h1 class="font-bold text-4xl text-[#007faa] mb-4">
                Quality Assurance
            </h1>
            <h2 class="text-md  text-[#4f7583] lg:text-md dark:text-white mb-1">
                At Rubber-Mexico, we are committed to delivering the highest quality products. 
                To ensure precision, reliability, and consistency, we employ advanced testing and measurement techniques using state-of-the-art machinery. 
                Our comprehensive quality control process include:
            </h2>
            <div class="mt-2">
                <span class="inline-block w-40 h-1 bg-blue-500 rounded-full"></span>
                <span class="inline-block w-3 h-1 ml-1 bg-blue-500 rounded-full"></span>
                <span class="inline-block w-1 h-1 ml-1 bg-blue-500 rounded-full"></span>
            </div>
        </div>
        <div class=" md:flex">
            <img class="" loading="" src="/assets/iso9001.webp" alt="" width="250" >
            <div class="self-center">
                <h2 class="text-md text-center font-bold   text-[#4f7583] ">
                    IATF 16949 
                </h2>
                <h2 class="text-md    text-[#4f7583] ">
                    The IATF 16949 certification is currently in process and is expected to be achieved in 2025.
                </h2>
            </div>
            
        </div>
    </div>
</section>


<section>
    <div class="w-full mt-1 mb-20 md:max-w-7xl mx-auto rounded-lg p-2">

        <!-- Tab Content -->
            <div class="p-4 tab-content bg-white shadow-md grid grid-cols-1 md:grid-cols-2">
                <div class="">
                    <h2 class="text-3xl font-semibold mb-2 text-blue-700">
                        Rheometer
                    </h2>
                    <div class="mb-4">
                        <p>
                            We have advanced rheometers at our disposal, enabling us to thoroughly review the cure profile of our rubber compounds throughout both the compound development phase and as a final quality check during production. 
                            This ensures that each lot meets the exacting standards established for the compound’s performance. 
                            With this capability, we can quickly develop compounds internally and perform a comprehensive 100% lot check in production, guaranteeing that every material batch will perform as intended.
                        </p>
                        <p>
                            Our Montech rheometer plays a crucial role in this process by enabling us to accurately measure and analyze the flow properties of materials. 
                            This device helps us evaluate critical parameters such as viscosity, curing characteristics, and other essential properties that directly impact product performance. 
                            Through precise measurement and analysis, we ensure optimal formulation and processing of polymers and other compounds, delivering reliable, high-performing products to our customers.
                        </p>
                    </div>
                </div>
                
                <div class="w-full md:w-80 mx-auto">
                    <video class=" rounded-md p-1 bg-[#007faa] " autoplay controls loop [muted]="'muted'" loading="edge" poster="/assets/quality/rheometerVidHero.jpg">
                        <source  src="assets/quality/rheometerVid.mp4" type="video/mp4">
                    </video>
                </div>     
            </div>

            <div class="p-4 tab-content bg-white shadow-md ">
                <h2 class="text-3xl font-semibold mb-2 text-blue-700">
                    Keyence Visual Inspection Machine IM8030T
                </h2>
                <div class="mb-4">
                    <p>
                        We have the top of the line visual inspection system from Keyence for quickly and accurately taking measurements of small to medium sized parts. 
                        1 or many parts are placed onto the glass table and the system analyses the parts in a matter of seconds. 
                        We are able to take 10s of measurements on 10s of parts in seconds with this special equipment.
                        We also have the capability to take thickness/height measurements using either a low force or non contact probe. 
                        This tool is used for initial production runs, PPAP measurements, internal checkoffs to start production, measurements of small mold inserts, and AQL measurements for some production parts when we are not able to do a 100% inspection on our Doss Visual Inspection system.
                    </p>
                </div>

                <div class="w-full mx-auto">

                    <app-swiperino-slider 
                        [images]="[ 
                                    '/assets/quality/keyence-gallery10.jpg',
                                    '/assets/quality/keyence-gallery6.png',
                                    '/assets/quality/keyence-gallery1.png', 
                                    '/assets/quality/keyence-gallery2.png',
                                    '/assets/quality/keyence-gallery3.png',
                                    '/assets/quality/keyence-gallery4.png',
                                    '/assets/quality/keyence-gallery5.png',
                                    ]"
                    />
                </div>
                <div>
                    <div class="p-4 tab-content bg-white  grid grid-cols-1 md:grid-cols-2 pt-6">
                        <div class="self-center">
                            <h2 class="text-2xl font-semibold mb-2 text-blue-700">
                                Precise Measurements!
                            </h2>
                            <div class="mb-4">
                                <p>
                                    Not only can we use this cutting edge technology to quickly and accurately take measurements of molded parts, but we also use it for measurements of mold components. 
                                    We can take many measurements in a matter of seconds for critical components of molds to ensure that all dimensions are in specification before molding parts to save time, and ensure molds are made to specification the first time. 
                                    We can take measurements with 0.00007" (2um) of precision with this tool.
                                </p>
                            </div>
                        </div>
                        
        
                        <div class="mt-2">
                            <img src="/assets/quality/inDetailKeyence.jpg" alt="Keyence Screen" class="w-4/5 mx-auto transition duration-500 hover:scale-125 rounded-md p-1 bg-[#007faa] hover:opacity-90">
        
                        </div>
                    </div>
                    
                </div>

                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-2 md:gap-8 mt-2">

                    <video class="w-full  rounded-md p-1 bg-[#007faa] hover:opacity-90" autoplay controls loop [muted]="'muted'" loading="lazy" >
                        <source  src="assets/quality/keyence-gallery8.mp4" type="video/mp4">
                    </video>
                    <video class="w-full  rounded-md p-1 bg-[#007faa] hover:opacity-90" autoplay controls loop [muted]="'muted'" loading="lazy" >
                        <source  src="assets/quality/keyence-gallery9.mp4" type="video/mp4">
                    </video>
                </div>
            </div>



            <div class="p-4 tab-content bg-white shadow-md ">
                <h2 class="text-3xl font-semibold mb-2 text-blue-700">
                    Top of the line 100% visual inspection system by <span class="font-bold"> Doss</span>
                </h2>
                <div class="mb-4">
                    <p>
                        We perform 100% inspection for parts up to 80mm in diameter using the top of the line visual inspection system from Doss. 
                        Our equipment is able to inspect up to 14 parts a second, measure the cross-section, and take photos from 7 different angles including underneath the part using a glass table to inspect the parts. 
                        We use AI and special algorithms to detect for non fills in the part, cuts, measure flash, and take critical measurements. 
                        The parts with dimensional or cosmetic issues are automatically sorted from the good parts using a compressed air sorting system in this system. 
                        All of the test data is saved in a database and statistical reports are automatically generated. We can supply CPK, other reports, and even all of the dimensional measurements for millions of parts if desired.
                    </p>
                    <p>
                        We can be confident in 0 defects in our products because we have the best of the best equipment to do 100% inspection of high volume parts
                    </p>
                </div>

                <div class="w-full mx-auto" id="doss">

                    <app-swiperino-slider 
                        [images]="['/assets/quality/doss-gallery1.png', 
                                    '/assets/quality/doss-gallery2.png',
                                    '/assets/quality/doss-gallery3.png',
                                    '/assets/quality/doss-gallery5.jpg',
                                    ]"
                    />
                </div>

                
                <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 gap-2 md:gap-8 mt-2">

                    <video class="w-1/2 mx-auto  rounded-md p-1 bg-[#007faa] hover:opacity-90" autoplay controls loop [muted]="'muted'" loading="lazy" >
                        <source  src="assets/quality/doss-gallery6.mp4" type="video/mp4">
                    </video>

                </div>
            </div>

            <div class="p-4 tab-content bg-white shadow-md grid grid-cols-1 md:grid-cols-2 pt-6">
                <div class="self-center">
                    <h2 class="text-3xl font-semibold mb-2 text-blue-700">
                        Tensile Tester
                    </h2>
                    <div class="mb-4">
                        <p>
                            The tensile tester machine is an essential tool in evaluating the mechanical properties of our materials. 
                            By measuring tensile strength, elongation, and other key performance indicators, we can guarantee that our products can withstand the demands of their intended applications.
                        </p>
                    </div>
                </div>
                

                <div class="  mt-2">

                    <video class="w-2/5 mx-auto  rounded-md p-1 bg-[#007faa] hover:opacity-90" autoplay controls loop [muted]="'muted'" loading="edge" >
                        <source  src="assets/quality/tensile-tester-video.mp4" type="video/mp4">
                    </video>

                </div>
            </div>

            <div class="p-4 tab-content bg-white shadow-md grid grid-cols-1 md:grid-cols-2 pt-6">
                <div class="self-center">
                    <h2 class="text-3xl font-semibold mb-2 text-blue-700">
                        3d Scanning
                    </h2>
                    <div class="mb-4">
                        <p>
                            We have 3 3d scanners including the most cutting age scanning system from Creaform to be able to reverse engineer parts/molds, and to take physical measurements of larger parts for initial approvals/PPAPs. 
                            We are able to accurate validate large complex parts using this system which allows us to always ensure we are meeting the customers requirements
                        </p>
                    </div>
                </div>
                

                <div class="  mt-2">

                    <video class="w-4/5 mx-auto  rounded-md p-1 bg-[#007faa] hover:opacity-90" autoplay controls loop [muted]="'muted'" loading="lazy" >
                        <source  src="assets/quality/3d-scanner.mp4" type="video/mp4">
                    </video>

                </div>
            </div>
            
  </div>
</section>